{% extends 'amenity_booking/main.html' %}
{% block content %}
{% load static %}
<style>
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#061F3E, #E9C46A);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#061F3E, #E9C46A);
    overflow: hidden;
  }
  .container{
    margin-top: 5%;
    font-family: Poppins;
  }
</style>
<body style="background-color: #061F3E">
  <section class="vh-90" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Password Reset</h3>

              <form action="{% url 'email_password' %}" method="post">
              {% csrf_token %}
              <div>
                <p style="color:hsl(138, 92%, 40%)">{{n}}</p>
              </div>
              <div class="form-outline mb-4">
                <input type="email" name="email" placeholder="Enter your registered email"
                class="form-control form-control-lg" />
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Reset</button>
            </form>
            <br><br>
            <hr class="my-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
{% endblock %}